image: node:lts

stages:
  - deploy

pages:
  stage: deploy
  script:
    - npm ci
    - npm run build
    - mkdir -p .public
    - cp -r dist/* .public
  artifacts:
    paths:
      - .public
  only:
    - master
