image: node:lts

stages:
  - build
  - deploy

build:
  stage: build
  script:
    - npm ci
    - npm run build
  artifacts:
    paths:
      - dist

pages:
  stage: deploy
  dependencies:
    - build
  script:
    - mkdir -p .public
    - cp -r dist/* .public
  artifacts:
    paths:
      - .public
  only:
    - master
